[Desktop Entry]
Name=MSI Fan Control
Exec=/usr/bin/msifancontrolgui --minimize --gamemode
Icon=msifancontrol
Type=Application
Categories=System;Games;
StartupNotify=false
