[Unit]
Description=MSI Fan Control daemon
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
ExecStart=/usr/bin/msifancontrold --restrict
KillMode=process

[Install]
WantedBy=multi-user.target
